
/* wtf */
/* #id */
/* .class */

body {
    color: white;
    background-color: black;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid red;
    padding: 1%;
}

#toolbar  {
    padding: 0%;
    border: 1px solid red;
    text-align: center;
}

#showTime {
    color: red;
    font-weight: bold;
    font-size: 40px;
    border-width: 3px;
    border-color:green;
    color: rgb(196, 196, 63);
    text-shadow: 5px 2px 3px rgb(77, 177, 77); 
        /* border-radius: 10px; */
        /* font-family: "Times New Roman", Times, serif; */
        /* font-size: 40px; */
    }

}



#wrapper {
    padding: 2%;   
}

.titleTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    color: blue;
}

.titleTable #myPic  {
    align-content: center;
    width: 20%;
}

.autoSize {
    width:auto;
}

.titleTable #myId  {
    width: 80%;
}


.thick-green-border {
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius: 30px;
    /*square - using "%"*/
}

/* table {
  } */
  
  /* th, td {
    text-align: left;
    padding: 8px;
  } */

  /* tr:nth-child(even){background-color: #f2f2f2} */


/* wtf */
/* #id */
/* .class */
