/* wtf */
/* #id */
/* .class */

/* pc */
body {
    color: black;
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    border: 0px solid blue;
    padding: 1%;
    width: auto;
    /* font-size: */
    font-size: 25px;
}


wrapper {
    padding: 2%;
}


#toolbar {
    padding: 0%;
    /* border: 0px solid red; */
    text-align: left;
    /* font-size: 3VW; */
    /* font-size: 40px; */
    /* color: green; */
}

#showTime {
    color: lightblue;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    border-width: 0px;
    /* border-color: green; */
    /* color: rgb(26, 76, 212);
    text-shadow: 4px 2px 3px rgb(161, 180, 233); */
}


.titleResume {
    padding: 0%;
    border: 0px solid green;
    text-align: center;

    font-weight: bold;
    /* font-size: 40px; */
    border-width: 0px;
    /* border-color: green; */
    /* color: rgb(24, 143, 223); */
    /* text-shadow: 5px 2px 3px rgb(77, 177, 77); */
    color: blue;

}



.responsiveTitle {
    border: 0px solid red;
    width: auto;
}


/* 
testClass {
    border: 0px solid red;
    width: auto;
} */


.titleTable {
    border-collapse: collapse;
    border-spacing: 20;
    width: 100%;
    border: 0px solid #ddd;
    color: blue;
}

.titleTable #myPic {
    align-content: center;
    width: 20%;
}

.autoSize {
    width: auto;
}

.titleTable #myId {
    width: 80%;
    padding: 10px;
    /* font-size: 3VW; */
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 6px;
    width: 6%;  
}