/* */
/* phone */
/* */
@media screen and (max-width: 600px) {
    body {
        background-color: black;
        color: white;
        font-size: 15px;
    }

    wrapper {
        padding: 2%;
    }

    #toolbar {
        padding: 0%;
        border: 0px solid red;
        text-align: left;
        /* color: red; */
        /* font-size: 3VW; */
        /* font-size: 40px; */
    }

    #showTime {
        color: red;
        font-weight: bold;
        font-style: italic;
        padding: 10px;
        border-width: 0px;

        /* border-color: green; */
        /* color: rgb(26, 76, 212);
        text-shadow: 4px 2px 3px rgb(161, 180, 233); */
    }

}